---
import posts from '../data/posts';
const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));
---

<ul>
  {sortedPosts.map(post => (
    <li>{post.frontmatter.title}</li>
  ))}
</ul>
